<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>play</key>
	<dict>
		<key>control.panel</key>
		<string>keyboard</string>
		<key>stage</key>
		<string>play</string>
	</dict>
	<key>settings</key>
	<dict>
		<key>control.panel</key>
		<string>menu</string>
		<key>stage</key>
		<string>settings</string>
	</dict>
	<key>solved</key>
	<dict>
		<key>control.panel</key>
		<string>solved</string>
		<key>stage</key>
		<string>play</string>
	</dict>
	<key>menu</key>
	<dict>
		<key>control.panel</key>
		<string>menu</string>
		<key>stage</key>
		<string>menu</string>
	</dict>
	<key>puzzles</key>
	<dict>
		<key>control.panel</key>
		<string>menu</string>
		<key>stage</key>
		<string>puzzles</string>
	</dict>
	<key>games</key>
	<dict>
		<key>control.panel</key>
		<string>menu</string>
		<key>stage</key>
		<string>games</string>
	</dict>
	<key>help</key>
	<dict>
		<key>control.panel</key>
		<string>menu</string>
		<key>stage</key>
		<string>help</string>
	</dict>
	<key>scores</key>
	<dict>
		<key>control.panel</key>
		<string>menu</string>
		<key>stage</key>
		<string>scores</string>
	</dict>
	<key>about</key>
	<dict>
		<key>control.panel</key>
		<string>menu</string>
		<key>stage</key>
		<string>about</string>
	</dict>
</dict>
</plist>
